nav.nav {
  background: ghostwhite;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

ul.left,
ul.right {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav.nav ul li:not(:first-of-type) {
  margin-left: 1rem;
}
